@font-face {
    font-family:'Montserrat-Light';
    src: url('../assets/fonts/mont-light.otf');
}

@font-face {
    font-family:'Montserrat-Thin';
    src: url('../assets/fonts/mont-thin.otf');
}

@font-face {
    font-family:'Monsterrat-Regular';
    src: url('../assets/fonts/mont-regular.otf');
}

@font-face {
    font-family:'Monsterrat-Bold';
    src: url('../assets/fonts/mont-bold.otf');
}

.regular {
    font-family:'Montserrat-Regular');
}

.bold {
    font-family:'Montserrat-Bold');
}
.light {
    font-family:'Montserrat-Light');
}

.row{margin-right:-15px;margin-left:-15px}

.col-md-6 {
    width:50%;
    height:100%;
    float:left;
}

.center-block {
    margin-left:auto;
    margin-right:auto;
    display:block;}

.container{
    height:50px;
    width:490px;
    overflow:hidden;
    overflow-x:scroll;
}

.container2{
    height:190px;
    width:1000px;
    overflow-x:scroll;
}

.nav-button{
    padding:13px 15px 13px 15px;
    margin-top:12px;
    color:white;
    border:0px;
    float:right;
    margin-right:10px;
    background:rgba(255,255,255,0.1);
    font-family:'Montserrat-Regular';
    font-size:0.7em;
    border-radius:3px;}

.light-color {
    background:white;
    color:rgba(0,0,0,0.7);
    }
.navbar-logo{
    font-size:2.5em;
    font-family:'Montserrat-Regular';
    margin-left:15px;
    margin-top:6px;
    float:left;
    color:white;}

.navbar-default{
    width:295px;
    height:65px;
    background:#237CD5;
    position:fixed;
    z-index:100;
}
.navbar-categories-container{
    height:50px;
    overflow:hidden;
    overflow-x:scroll;
    overflow-y:hidden;
    margin-top:65px;
    width:295px;
    background:#1E6DBC;
}

.navbar-category{
    padding:8px 20px 8px 20px;
    border:0px;
    background:#23D57C;
    color:white;
    text-align:center;
    font-size:0.9em;
    margin-left:30px;
    margin-right:-10px;
    margin-top:8px;
    border-radius:50px;
    float:left;
    font-family:'Montserrat-Light';
}

.navbar-image{
    width:30px;
    height:30px;
    margin-right:10px;
    margin-top:18px;
    margin-left:10px;
    border-radius:50px;
    float:right;
}



.navbar-name{
    float:right;
    color:white;
    margin-top:25px;
    font-size:0.8em;
    font-family:'Montserrat-Light';
}

.navbar-category-content{
overflow-x:scroll;
    overflow-y:hidden;
    width:295px;
    }

.navbar-header-category{
    margin-left:15px;
    background:#23D57C;
    border:0px;
    border-radius:500px;
    padding:8px 10px; 8px 10px;
    font-size:0.8em;
    margin-top:20px;
    color:white;
}

.coupon-container{
    background:white;
    width:250px;
    margin-left:20px;
    height:140px;
    border:1px solid #e6e6e6;
    border-radius:3px;
    margin-top:20px;
    float:left;
}

.coupon-image{
    width:80%;
    margin-top:20px;
}

.coupon-value{
    height:27px;
    text-align:center;
    color:white;
    font-family:'Montserrat-Light';
    padding-top:7px;
    background:#23D57C;
}

.coupon-value-description{
    width:90%;
    text-align:center;
    font-size:0.75em;
    color:rgba(0,0,0,0.7);
    margin-top:20px;}



/*----------- Log In ------------ */

.account-sign-container{
    width:295px;
    height:80px;
    margin-top:65px;
    background:#1E6DBC;
}

.account-signin-title{
    font-size:1em;
    color:white;
    font-family:'Montserrat-Light';
    text-align:center;
    padding-left:20px;
    padding-top:30px;
    }

.account-signin-input{
    width:240px;
    margin-left:15px;
    border:1px solid #e6e6e6;
    padding-left:20px;
    height:40px;
    background:rgba(0,0,0,0.04);
    margin-top:30px;}

.account-signin-button{
    width:260px;
    margin-top:40px;
    height:50px;
    background:#1E6DBC;
    color:white;
    border:0px;
    }

.account-signin-name{
    width:100px;
    margin-left:15px;
    border:1px solid #e6e6e6;
    padding-left:20px;
    height:40px;
    background:rgba(0,0,0,0.04);
    margin-top:30px;}



/*--------- Landing ----------*/
.header {
  z-index: 0;
  position: relative;
  height:100px;
}

.header .skew:before {
  content: '';
  position: absolute;
  left: 0;
  margin-top:-180px;
  overflow: visible;
  width: 100%;
  height: 400px;
  background: #237CD5;
  z-index: -10;
  -webkit-transform: skewY(-50deg);
  -moz-transform: skewY(-50deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: initial;
}

.header .skew .header-inner {
  padding: 20px;
  margin-top:65px;
  margin-left: auto;
  margin-right: auto;
}


.header-title{
    text-align:center;
    font-family:'Montserrat-Light';
    color:white;
    margin-top:100px;
}

.header-subtitle{
    font-size:0.8em;
    color:white;
    text-align:center;
    }





.robot svg {
  position: absolute;
  top: -200px;
  left: 50%;
  display: block;
  margin: 0 auto;
  margin-left: -300px;
  transform: scale(0.4);
  transform-origin: center;
  height: 800px;
  width: 600px;
}

.credit {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgba(255,255,255,0.3);
}

.credit a {
  color: rgba(255,255,255,0.6);
}

@-webkit-keyframes robot_bounce{

		0%{
		transform:translateY(80px)}

		100%{
		transform:translateY(30px)}}

		@keyframes robot_bounce{

		0%{
		transform:translateY(80px)}

		100%{
		transform:translateY(30px)}}

		@-webkit-keyframes shadow{

		0%{
		transform:scale(1.5,1.2);
	}

		100%{
		transform:scale(1,1);
	}}

		@keyframes shadow{

		0%{
		transform:scale(1.5,1.2);
		opacity:0.4}

		100%{
		transform:scale(1,1);
		opacity:0.2}}

		@-webkit-keyframes arms_bounce_left{

		0%{
		transform:rotate(0deg)}

		100%{
		transform:rotate(-15deg)}}

		@keyframes arms_bounce_left{

		0%{
		transform:rotate(0deg)}

		100%{
		transform:rotate(-15deg)}}

		@-webkit-keyframes arms_bounce_right{

		0%{
		transform:rotate(0deg)}

		100%{
		transform:rotate(15deg)}}

		@keyframes arms_bounce_right{

		0%{
		transform:rotate(0deg)}

		100%{
		transform:rotate(15deg)}}

		@-webkit-keyframes eyes_blink{

		0%{
		transform:scale(1,1)}

		90%{
		transform:scale(1,1)}

		95%{
		transform:scale(0.8,0)}

		100%{
		transform:scale(1,1)}}

		@keyframes eyes_blink{

		0%{
		transform:scale(1,1)}

		90%{
		transform:scale(1,1)}

		95%{
		transform:scale(0.8,0)}

		100%{
		transform:scale(1,1)}}

		#body{
		animation:robot_bounce 1.1s ease-in-out 0s infinite alternate}

		#head{
		animation:robot_bounce 1.1s ease-in-out 0.05s infinite alternate}

		#arms{
		animation:robot_bounce 1.1s ease-in-out 0.1s infinite alternate}

		#arms #left{
		transform-origin:center right;
		animation:arms_bounce_left 1.1s ease-in-out 0s infinite alternate}

		#arms #right{
		transform-origin:center left;
		animation:arms_bounce_right 1.1s ease-in-out 0s infinite alternate}

		#eyes ellipse{
		transform-origin:center center;
		animation:eyes_blink 2s ease-out 0s infinite alternate}

		#hover ellipse{
		transform-origin:center center;
		animation:shadow 1.1s ease-in-out 0s infinite alternate}

